<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
                var system = {
                    win: false,
                    mac: false,
{#                    xll: false,#}
{#                    ipad:false#}
                };
                //检测平台
                var p = navigator.platform;
                system.win = p.indexOf("Win") == 0;
                system.mac = p.indexOf("Mac") == 0;
{#                system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);#}
{#                system.ipad = (navigator.userAgent.match(/iPad/i) != null)?true:false;#}
                //跳转语句
                if (system.win || system.mac) {
                    $(function () {
                        var H = $(window).height();
                        var wall1 = $("#wall1").height();
                        document.getElementById('wall').style.height = H + 'px';
                        document.getElementById('wall2').style.height = (H - wall1) + 'px';
                    });

                    $(window).resize(function () {
                        var H = $(window).height();
                        var wall1 = $("#wall1").height();
                        document.getElementById('wall').style.height = H + 'px';
                        document.getElementById('wall2').style.height = (H - wall1) + 'px';
                    });
                }
            </script>
</head>
<body>

<div id="wall" style="width: 100%;">

    <div class="row" style="margin: 0;" id="wall1">
        <div class="col-md-12" style="background: #252524;">
            <blockquote>
                    <h1 class="title"> Couseware <a class="title" style="font-size: medium">{{ user_type }}</a>

                    <a href="/sign_out"><button class="btn btn-link" style="font-size: 20px">Sign Out</button></a>
                </h1>
            </blockquote>
        </div>
    </div>

    <div class="row" style="margin: 0;" id="wall2">
        <div class="col-md-2" style="background: #5ec0bb; overflow-y: auto; height: 100%;" >

{#            <div class="left">#}
{#                <a href="/role/upload">#}
{#                    <button class="btn btn-danger btn-lg btn-block left_button">上传文件</button>#}
{#                </a>#}
{#            </div>#}

            {% for k,v in subject_list.items %}
                <a href="/role/home?clicked={{ k }}">
                    <button class="btn btn-danger btn-lg btn-block left_button" value={{ k }}>{{ v }}</button>
                </a>
            {% endfor %}

        </div>


        <div class="col-md-10" >

            {% if 'home' == page_type %}
                <blockquote><h1>Welcome</h1>{{ user_name }}</blockquote>
            {% endif %}


            {% if '' != returninfo %}
                <script>
                    {% if 'file' == returninfo %}
                        alert("没有选择文件");
                    {% elif 'name' == returninfo %}
                        alert("课件名为空");
                    {% elif 'download_error' == returninfo %}
                        alert("课件好像出了一些问题！");
                    {% else %}
                        alert({{ returninfo }});
                    {% endif %}
                </script>
            {% endif %}

        {% if 0 <= click_id %}
                <blockquote><a style="font-size: 20px; color: #252524; margin-right: 20px;">Subject:{{ click_name }}</a>

            {% if "Teacher" == user_type.name %}
            {#上传#}
            <span class="glyphicon glyphicon-upload" data-toggle="modal" data-target="#myModal" style="font-size: 30px; color: #337ab7;" type="upload"></span>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                    <form method="post" action="{% url 'role:upload' %}" enctype="multipart/form-data">
                  <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>课件名:</label><br>
                            <input type="text" name="name" placeholder="courseware name">
                        </div>

                        <div class="form-group">
                            <label>课件:</label>
                            <input type="file" name="upfile">
                        </div>
                        <input type="hidden" name="subject" value={{ click_id }}>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="submit">submit</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
{#        <a href="/role/upload"><button>123</button> </a>#}
            </blockquote>
        {% endif %}
        {% if 0 != courseware_list.size %}
            <table class="table table-striped" style="text-align: center; width: 60%; margin: auto;">
                <thead>
                    <tr>
                        <th style="padding-left: 15px;">课件名</th>
                        <th style="text-align: center;">download</th>
                        {% if 'Teacher' == user_type.name %}
                             <th style="text-align: center;">delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for k,v in courseware_list.items %}
                        <tr>
                            <td style="vertical-align: middle;">{{ v }}</td>
                            <td style="width: 25px;">
                                <a href="/role/download?download={{ k }}&clicked={{ click_id }}">
                                    <span class="glyphicon glyphicon-download" style="font-size: 20px; color: #337ab7;"></span>
                                </a>
                            </td>
                            {% if "Teacher" == user_type.name %}
                                <td style="width: 25px;">
                                    <a href="/role/delete?delete={{ k }}&clicked={{ click_id }}">
                                        <span class="glyphicon glyphicon-remove-circle" style="font-size: 20px; color: red;"></span>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <blockquote><h1>暂时没有课件</h1></blockquote>
        {% endif %}
        {% endif %}
        </div>
    </div>

</div>

</body>
</html>