<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Regist</title>
    <link rel="stylesheet" href="{% static 'css/log_in.css' %}">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>

        function validate_required(filed, alerttext)
        {
            with (filed)
            {
                if (value == null || value == "")
                {
                    alert(alerttext);
                    return false;
                }
                else
                {
                    return true;
                }
            }
        }

        function validate_password(pw,repw)
        {
            if (pw.value === repw.value)
            {
                return true;
            }
            else
            {
                return false;
            }
        }

        function value_form(thisform)
        {
            with (thisform)
            {

                if (validate_password(password, pw_confirm)==false)
                {
                    password.focus();
                    alert("password error");
                    return false;
                }

                else if (validate_required(username, "username null")==false)
                {
                    username.focus();
                    return false;
                }
            }
            if(upload.username.value == ""){}
            else
            {
                upload.submit();
            }

        }

    </script>

</head>
<body>


    {% if 'success' == info %}
        <script>
            alert("注册成功！");
        </script>
    {% elif 'faild' == info %}
        <script>
            alert("注册失败！");
        </script>
    {% endif %}


    <div class="form-group",id="line" style="margin: auto; width: 320px;height: 640px; text-align: center;">
    <form name="upload" action="/role/register/" method="post" onsubmit="return value_form(this)">

        {% csrf_token %}

        <div class="login">
        <div id="line">
        <h3>注册</h3>
        </div>

        <div class="login-txt" style="height: 270px;">
            登录名:
            <br>
            <input name="username" >
            <br>
            登录密码:
            <br>
            <input name="password" type="password" >
            <br>
            再输一次:
            <br>
            <input name="pw_confirm" type="password">
            <br>
            用户姓名（可留空）：
            <br>
            <input name="first" placeholder="姓" style="width: 150px">
            <input name="last" placeholder="名" style="width: 150px">
            <br>

            <select name="groups" style="margin-top: 10px; margin-bottom: 10px">
                <option value="Teacher">Teacher</option>
                <option value="Student">Student</option>
            </select>
            <br>
    <input type="submit" class="btn btn-default btn-sm" value="Submit" id="submit" style="width: 60px">
            </div>
    <br>

        </div>

    </form>
    </div>
</body>
</html>